/* components/Game.module.css */
.container {
	font-weight: 400;
	color: black;
	text-align: center;
	background-image: url("../game/merve-sensoy-UEb7vAqYb4U-unsplash.jpg");
	height: 550px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.gameArea {
	position: relative;
	width: 90%;
	height: 400px;
	border: 1px solid #ccc;
	margin: 20px auto;
	overflow: hidden;
}

.airplane {
	position: absolute;
	font-size: 2rem;
	cursor: pointer;
	user-select: none;
}

.text-balance {
	text-wrap: balance;
}
